.box{width:1000px;height: 600px;overflow: hidden;
margin: 0 auto;padding-top: 40px;}
.about{width: 6200px;height: 600px;float: left;}
img{width: 1000px;height: 600px;margin: 0px;padding: 0px}
.n{float: left}
input{color:yellow}
.active{background-color: lime;}
nav{
	width: 1000px;
	margin: 0 auto;
	padding-top: 30px;
	position: absolute;
	left: 165px;

	/*padding-left:-175px;*/
}
.main>li{float: left;padding: 10px 0px;/*background-color: #eb3170;*/}
ul li a{
	text-decoration: none;
	color: #fff;
	background-color: #262323;
	padding: 15px 25px;
	border: 1px solid #ddd;
}
nav ul li a:hover{
	background-color: #000;

}
/**/
.sub{display: none;}/*把下拉菜单隐藏*/
/*.sub li{margin:0px 20px;}*/
ul{list-style: none;margin: 0;padding: 0}/*去掉列表符号，边距都为0*/
.main>li{float: left;padding: 10px 0px;}
a{text-decoration: none;color: yellow;font-size: 30px;}
.sub{display: none;padding-top: 13px;}/*把下拉菜单隐藏*/
.sub li a{padding: 2px 60px}
.home .fa{
	padding-right: 14px;
	font-size: 20px;
}

.sec{
	position: absolute;
	top: 50px;
}
.abc{
	width: 1000px;height: 600px;
	background-image: url(../images/p4.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto;
	/*position: relative;*/
}
.abc-in{
	width: 100px;
	height: 100px;
	/*margin: 0 auto;*/
	background-color: yellow;
	margin-top: 100px;
	/*margin-left:120px;*/
	opacity: 0.5;
	
	
}
.abc-in:hover{
	transition:color 2s ease;
	background-color: #000;
}
.sec2{
	margin-top: 30px;
	width: 333px;
	float: left;
	margin: 0 auto;
	/*padding-left: 200px;*/
}
.se2{
	margin: 0 auto;
	width: 1000px;
	padding-right:20px;
}
.sec2 h1{
	border-bottom: 1px solid green;
	width: 320px;
	/*margin: 0 auto;*/
	padding-top: 30px;
}
.sec2 img{
	width: 320px;height:260px;
	padding-top: 20px;


}
.sec2 img:hover{
	opacity: 0.5;


}
.sec2 p{
	font-size: 15px;
	padding-top: 20px;
	width: 320px;
	
}
.sec2 h2{
	color: #666;
	padding-top: 15px;
	width: 320px;
	font-size: 13px;
	padding-bottom: 20px;
}
.more{
	color: red;
	width: 1000px;
	margin: 0 auto;

}
.more:hover{
	color: #000;
}
.more h5{
	width: 150px;
	margin: 0 auto;
}
.sec3{
	width: 1000px;
	margin: 0 auto;
	padding-top: 30px;
}
.foot{
	width: 300px;
	float: left;
	padding-right: 20px;
}
.foot ul{
	padding-top: 10px;
	padding-bottom: 30px;
}
.foot ul li{
	border-bottom: 1px solid #999;
	padding-bottom:5px;
}
.foot ul li:hover{
	background-color: #ddd;
}
.foot ul li .fa{
	font-size: 10px;
	padding-top: 3px;
}
.foot h4{
	border-bottom: 1px solid #999;

}
.foot p{
	padding-top: 10px;
	font-size: 15px;
}
footer{
	width: 1000px;
	margin: 0 auto;
}
footer p{
	width: 300px;
	margin: 0 auto;
	font-size: 15px;
	padding-bottom: 50px;
}
footer span{
	color: #A8A6A6;
}
.return{
	display:none;
	width: 200px;
	height: 50px;
	background-color: #999;
	border-radius: 10px;
	text-align: center;
	line-height: 50px;
	color:#fff; 
	font-size: 30px;
	position: absolute;
	top: 550px;
	position: fixed;
}
